/* Variables */
:root {
    --primary-color: #1756F8;
    --secondary-color: #70CBE8;
    --accent-color: #B5F6FA;
    --bg-color: #95EDF2;
    --white: #FFF9F9;
}

/* General styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--bg-color);
}


/* Header */
header {
    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 3px solid var(--white);
    border-radius: 0 0 0 3rem;
    background-color: var(--secondary-color);
}

.logo a {
    text-decoration: none;
    color: var(--white);
    padding: 1rem;
    font-size: 1.75rem;
    font-weight: 700;
}

header div a {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1rem;
    text-decoration: none;
    color: var(--white);
}


/* Main */
main {
    position: relative;
    margin-top: 6rem;
    flex-grow: 1;
    min-width: 100%;
    max-width: 1500px;
}


/*Hero section*/
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 3rem;
    padding-inline: 1rem;
    margin-top: 4rem;
}

.hero h2 {
    font-size: clamp(2rem, 4vw + 1rem, 3rem);
}

.hero h3 {
    font-size: clamp(1.5rem, 2vw + 1rem, 2rem);
}

.hero a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    padding: .5rem 3rem;
    border-radius: 0 0 0 1rem;
}

.hero p {
    font-size: 1rem;
    width: 100%;
}


.svg-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    opacity: 80%;
}

.svg-container :nth-child(2) {
    display: none;
}

svg {
    max-width: 100%;
}

@media screen and (min-width: 600px) {
    .svg-container {
        justify-content: space-between;
        padding-inline: 2rem;
    }

    .svg-container :nth-child(2) {
        display: block;
    }
}


/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    background-color: var(--secondary-color);
    border-top: 3px solid var(--white);
    border-radius: 0 1.75rem 0 0;
}

footer h4 {
    color: var(--white);
    font-size: 1.5rem;
}

/* social media icons */
footer div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
}

.fa {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border-radius: 50%;
    padding: 5%;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    background-color: #1756F8;
    color: var(--white);
}



/* Choose - page*/
.choose-form {
    width: 100%;
}

.choose-form button {
    text-decoration: none;
    color: var(--white);
    background-color: var(--primary-color);
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    padding: .8rem 3rem;
    margin-top: 4rem;
}

.choose-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 4rem;
}

.card {
    flex-basis: 100%;
    max-width: 500px;
    aspect-ratio: 1;
    margin: 1rem;
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 400px) {
    .choose-cards-container {
        gap: 0;
    }

    .card {
        flex-basis: calc(50% - 2rem);
    }
}